* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.destaque {
  width: 100%; /* A imagem ocupará a largura total do container */
}

.centered-text {
  display: inline-block;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Defina a cor do texto */
  font-size: 24px; /* Tamanho do texto */
  font-weight: bold; /* Peso do texto */
  text-shadow: 2px 2px 4px #000; /* Sombra do texto para melhor legibilidade */
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  gap: 56px;
}

.card {
  display: grid;
  background-color: #fff;
  max-width: 860px;
  height: 260px;
  border-radius: 12px;
  box-sizing: shadow 4px 4px 12px #aaa;
}

.card h1 {
  font-size: 1.2rem;
}
.card h2 {
  font-size: 0.9rem;
}
.card button {
  background-color: #2192ff;
  height: 30px;
  border: none;
  padding: 4px;
  width: 400px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
}

.fim-card {
  display: grid;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

.reservados{
  background-color: #FFF0F0;
  font-family: Arial, Helvetica, sans-serif;
  color: #AD2D2D;
  font-size: 15px;
  text-align:center;
  padding: 20px 0px 20px 0px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.rodape {
  display: flex;
  justify-content: center;
}
.sobre{
  background-color:  rgb(212, 212, 212);;
}
.sobre h1{
  text-align:center;
 
}
p {
  padding: 100px;
  max-width: 1000px;
}


@media (max-width: 1000px) {
  #cards {
    align-items: center;
  }
  .card {
    width: 400px;
  }
  .centered-text {
    left: 50%;
    top: 20%;
  }
  .card button {
    width: 200px;
  }
  .rodape {
    gap: 40px;
    margin-bottom: 80px;
  }
  .rodape img {
    width: 150px;
  }
  .rodape p {
    width: 350px;
  }
  h1 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #cards {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .card{
    width: 250px;
  }
}
