* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
}


.reservados{
    background-color: #FFF0F0;
    font-family: Arial, Helvetica, sans-serif;
    color: #AD2D2D;
    font-size: 15px;
    text-align:center;
    padding: 0px 0px 0px 0px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.produtos {
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    border: 1px rgb(212, 212, 212) solid;
    margin-top: 20px;
    padding: 20px 0;
    transition: 1s;
}

.box:hover {
    scale: 1.02;
    background-color: #EAEBE6;
}

.box img {
    width: 200px;
}

.box p {
    margin: 20px 20px 0 20px;
}

@media screen and (max-width: 1000px) {
    .produtos {
        width: 300px;
    }
}

.buttonn:hover {
    background-color: pink;

}


.buttonn {
    margin: auto;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    background-color: transparent;
    border: 1px pink solid;
    border-radius: 4px;
    transition: 1s;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulsing {
    animation: pulse 1s infinite;
}

footer {
    background-color: rgb(212, 212, 212);
    margin-top: 30px;
    font-size: 15px;
}

.footer {
    display: flex;
    gap: 10%;
    max-width: 1240px;
    margin: auto;
    padding: 100px 0;
}

footer div div {
    width: 200px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer div div  {
    font-size: 15px;
}

.footer-li li {
    margin-top: 19px;
}

.footer-li li:hover {
    text-decoration: underline;
}